<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- MySQL Configuration-->
    <!-- MAIN DB-->
    <add key="mainhost" value="localhost"/>
    <add key="mainuser" value="root"/>
    <add key="mainpassword" value="cdered"/>
    <add key="maindatabase" value="swganh"/>
    <add key="mainport" value="3306"/>
    <!-- CONFIG DB-->
    <add key="confighost" value="localhost"/>
    <add key="configuser" value="swganh"/>
    <add key="configpassword" value="cdered"/>
    <add key="configdatabase" value="swganh_config"/>
    <add key="configport" value="3306"/>
    <!-- ASTROMECH DB-->
    <add key="astromechhost" value="localhost"/>
    <add key="astromechuser" value="swganh"/>
    <add key="astromechpassword" value="cdered"/>
    <add key="astromechdatabase" value="swganh_astromech"/>
    <add key="astromechport" value="3306"/>
    <!-- LOGS DB-->
    <add key="loghost" value="localhost"/>
    <add key="loguser" value="swganh"/>
    <add key="logpassword" value="cdered"/>
    <add key="logdatabase" value="swganh_logs"/>
    <add key="logport" value="3306"/>
    <!-- TOOLS DB-->
    <add key="toolshost" value="localhost"/>
    <add key="toolsuser" value="swganh"/>
    <add key="toolspassword" value="cdered"/>
    <add key="toolsdatabase" value="swganh_tools"/>
    <add key="toolsport" value="3306"/>
    <!-- ARCHIVE DB-->
    <add key="archivehost" value="localhost"/>
    <add key="archiveuser" value="swganh"/>
    <add key="archivepassword" value="cdered"/>
    <add key="archivedatabase" value="swganh_archive"/>
    <add key="archiveport" value="3306"/>
    <!--END MySQL Configuration-->
    <!-- Remote Config-->
    <add key="remotehost" value="localhost"/>
    <add key="remoteport" value="40998"/>
    <add key="remoteauth" value="cdered"/>
    <!--END Remote Configuration-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
